# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/
# ...except the manager binary Dockerfile.local packages (built on the host by `make docker-build-local`).
!bin/manager
