# permissions for end users to edit ipaddressclaims.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: ipaddressclaim-editor-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: netbox-operator
    app.kubernetes.io/part-of: netbox-operator
    app.kubernetes.io/managed-by: kustomize
  name: ipaddressclaim-editor-role
rules:
- apiGroups:
  - ipam.netboxlabs.com
  resources:
  - ipaddressclaims
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ipam.netboxlabs.com
  resources:
  - ipaddressclaims/status
  verbs:
  - get
