---
# permissions for end users to view ipranges.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: iprange-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: netbox-operator
    app.kubernetes.io/part-of: netbox-operator
    app.kubernetes.io/managed-by: kustomize
  name: iprange-viewer-role
rules:
  - apiGroups:
      - netbox.dev
    resources:
      - ipranges
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - netbox.dev
    resources:
      - ipranges/status
    verbs:
      - get
