---
# permissions for end users to edit prefixclaims.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: netbox-operator
    app.kubernetes.io/managed-by: kustomize
  name: prefixclaim-editor-role
rules:
  - apiGroups:
      - netbox.dev
    resources:
      - prefixclaims
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - netbox.dev
    resources:
      - prefixclaims/status
    verbs:
      - get
