---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ipam.netbox.dev
  resources:
  - ipaddressclaims
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ipam.netbox.dev
  resources:
  - ipaddressclaims/finalizers
  verbs:
  - update
- apiGroups:
  - ipam.netbox.dev
  resources:
  - ipaddressclaims/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ipam.netbox.dev
  resources:
  - ipaddresses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ipam.netbox.dev
  resources:
  - ipaddresses/finalizers
  verbs:
  - update
- apiGroups:
  - ipam.netbox.dev
  resources:
  - ipaddresses/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ipam.netbox.dev
  resources:
  - prefixclaims
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ipam.netbox.dev
  resources:
  - prefixclaims/finalizers
  verbs:
  - update
- apiGroups:
  - ipam.netbox.dev
  resources:
  - prefixclaims/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ipam.netbox.dev
  resources:
  - prefixes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ipam.netbox.dev
  resources:
  - prefixes/finalizers
  verbs:
  - update
- apiGroups:
  - ipam.netbox.dev
  resources:
  - prefixes/status
  verbs:
  - get
  - patch
  - update
