---
# Modified from https://github.com/prometheus-operator/prometheus-operator/blob/main/.github/workflows/e2e-feature-gated.yaml
name: e2e-tests
permissions:
  contents: read
on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
    tags:
      - v*
  workflow_run:
    workflows: ["Release"]
    types: [completed]
    branches: [main]
  pull_request:
env:
  NETBOX_HOST: demo.netbox.dev
  AUTH_TOKEN: 0123456789abcdef0123456789abcdef01234567
  POD_NAMESPACE: default
  HTTPS_ENABLE: true
  NETBOX_RESTORATION_HASH_FIELD_NAME: netboxOperatorRestorationHash
jobs:
  e2e-tests-3-7-8:
    name: Against netbox version 3.7.8
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name != 'workflow_run' }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5.0.0
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "go.mod"
      - name: Import environment variables from file
        run: |
          cat ".github/env" >> "$GITHUB_ENV"
      - name: Run e2e tests
        run: |
          make test-e2e-3.7.8
  e2e-tests-4-0-11:
    name: Against netbox version 4.0.11
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5.0.0
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "go.mod"
      - name: Import environment variables from file
        run: |
          cat ".github/env" >> "$GITHUB_ENV"
      - name: Run e2e tests
        run: |
          make test-e2e-4.0.11
  e2e-tests-4-1-10:
    name: Against netbox version 4.1.10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5.0.0
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "go.mod"
      - name: Import environment variables from file
        run: |
          cat ".github/env" >> "$GITHUB_ENV"
      - name: Run e2e tests
        run: |-
          make test-e2e-4.1.10
  e2e-tests-4-4-5:
    name: Against netbox version 4.4.5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5.0.0
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "go.mod"
      - name: Import environment variables from file
        run: |
          cat ".github/env" >> "$GITHUB_ENV"
      - name: Run e2e tests
        run: |-
          make test-e2e-4.4.5
