# Modified from https://github.com/prometheus-operator/prometheus-operator/blob/main/.github/workflows/e2e-feature-gated.yaml
name: e2e-tests
on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
env:
  NETBOX_HOST: demo.netbox.dev
  AUTH_TOKEN: 0123456789abcdef0123456789abcdef01234567
  POD_NAMESPACE: default
  HTTPS_ENABLE: true
  NETBOX_RESTORATION_HASH_FIELD_NAME: netboxOperatorRestorationHash
jobs:
  e2e-tests-3-7-8:
    name: Against netbox version 3.7.8
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
    - uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
      with:
        go-version: 1.23.6
    - name: Import environment variables from file
      run: |
        cat ".github/env" >> "$GITHUB_ENV"
    - name: Wait for cluster to finish bootstraping
      run: |
        echo "Waiting for all nodes to be ready..."
        kubectl wait --for=condition=Ready nodes --all --timeout=120s
        kubectl get nodes
        echo "Waiting for all pods to be ready..."
        kubectl wait --for=condition=Ready pods --all --all-namespaces --timeout=300s
        kubectl get pods -A
        echo "Cluster information"
        kubectl cluster-info
    - name: Run e2e tests
      run: |
        make test-e2e-3.7.8
  e2e-tests-4-0-11:
    name: Against netbox version 4.0.11
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
    - uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
      with:
        go-version: 1.23.6
    - name: Import environment variables from file
      run: |
        cat ".github/env" >> "$GITHUB_ENV"
    - name: Wait for cluster to finish bootstraping
      run: |
        echo "Waiting for all nodes to be ready..."
        kubectl wait --for=condition=Ready nodes --all --timeout=120s
        kubectl get nodes
        echo "Waiting for all pods to be ready..."
        kubectl wait --for=condition=Ready pods --all --all-namespaces --timeout=300s
        kubectl get pods -A
        echo "Cluster information"
        kubectl cluster-info
    - name: Run e2e tests
      run: |
        make test-e2e-4.0.11
  e2e-tests-4-1-8:
    name: Against netbox version 4.1.8
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
    - uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
      with:
        go-version: 1.23.6
    - name: Import environment variables from file
      run: |
        cat ".github/env" >> "$GITHUB_ENV"
    - name: Wait for cluster to finish bootstraping
      run: |
        echo "Waiting for all nodes to be ready..."
        kubectl wait --for=condition=Ready nodes --all --timeout=120s
        kubectl get nodes
        echo "Waiting for all pods to be ready..."
        kubectl wait --for=condition=Ready pods --all --all-namespaces --timeout=300s
        kubectl get pods -A
        echo "Cluster information"
        kubectl cluster-info
    - name: Run e2e tests
      run: |
        make test-e2e-4.1.8
