---
name: Go Vulnerability Checker
on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
permissions: read-all
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version: 1.24.3
      - run: |
          set -euo pipefail

          make vulncheck
