---
name: Static analysis
on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
    tags:
      - v*
  workflow_run:
    workflows: ["Release"]
    types: [completed]
    branches: [main]
  pull_request:
permissions: read-all
jobs:
  go-and-crds:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name != 'workflow_run' }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: v2.4.0
          args: --config tools/.golangci.yaml
      - run: |
          set -euo pipefail

          make vet
      - run: |
          set -euo pipefail

          make lint
      - run: |
          set -euo pipefail

          make fmt

          DIFF=$(git status --porcelain)

          if [ -n "$DIFF" ]; then
            echo "These files were modified:"
            echo
            echo "$DIFF"
            echo
            exit 1
          fi
      - run: |
          set -euo pipefail

          DIFF=$(git status --porcelain)

          make generate manifests

          if [ -n "$DIFF" ]; then
          echo "These files were modified:"
          echo
          echo "$DIFF"
          echo
          echo "Please run make generate manifests and commit the changes."
          exit 1
          fi
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5.0.0
      - name: Run codespell
        uses: codespell-project/actions-codespell@v2
        with:
          skip: "*.svg"
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5.0.0
      - name: "Yamllint"
        uses: karancode/yamllint-github-action@master
