---
name: Static analysis
on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
    tags:
      - v*
  workflow_run:
    workflows: ["Release"]
    types: [completed]
    branches: [main]
  pull_request:
permissions: read-all
jobs:
  go-and-crds:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name != 'workflow_run' }}
    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v5.0.0
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "go.mod"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: v2.4.0
          args: --config tools/.golangci.yaml
      - run: |
          set -euo pipefail

          make vet
      - run: |
          set -euo pipefail

          make lint
      - run: |
          set -euo pipefail

          make fmt

          DIFF=$(git status --porcelain)

          if [ -n "$DIFF" ]; then
            echo "These files were modified:"
            echo
            echo "$DIFF"
            echo
            exit 1
          fi
      - run: |
          set -euo pipefail

          DIFF=$(git status --porcelain)

          make generate manifests

          if [ -n "$DIFF" ]; then
          echo "These files were modified:"
          echo
          echo "$DIFF"
          echo
          echo "Please run make generate manifests and commit the changes."
          exit 1
          fi
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v5.0.0
      - name: Run codespell
        uses: codespell-project/actions-codespell@v2
        with:
          skip: "*.svg"
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v5.0.0
      - name: "Yamllint"
        uses: karancode/yamllint-github-action@master
