---
name: Static analysis
on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
permissions: read-all
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version: 1.24.1
      - name: golangci-lint
        uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84 # v6.5.2
        with:
          version: v1.64.6
          args: --config tools/.golangci.yaml
      - run: |
          set -euo pipefail

          make vet
      - run: |
          set -euo pipefail

          make lint
      - run: |
          set -euo pipefail

          make fmt

          DIFF=$(git status --porcelain)

          if [ -n "$DIFF" ]; then
            echo "These files were modified:"
            echo
            echo "$DIFF"
            echo
            exit 1
          fi
      - run: |
          set -euo pipefail

          DIFF=$(git status --porcelain)

          make generate manifests

          if [ -n "$DIFF" ]; then
          echo "These files were modified:"
          echo
          echo "$DIFF"
          echo
          echo "Please run make generate manifests and commit the changes."
          exit 1
          fi
